* {
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;

}


body {
    font-family : sans-serif;
    background-image: linear-gradient(120deg, #a0936a,#dbafa3);
    color: rgb(207, 205, 205);

}

i,
svg {
    pointer-events: none;
}

.kick-pad, .snare-pad,.hihat-pad{
    width: 5rem;
    height: 5rem;
    margin: 1rem 0.5rem;
    cursor: pointer;
}

.kick-pad {
    background:rgb(119, 119, 202);
}

.snare-pad{
    background: rgb(182, 101, 175);
}

.hihat-pad{
    background: rgb(131, 101, 44);

}

.kick-pad.active {
    background: rgb(70, 178, 192)
}
.snare-pad.active {
    background: rgb(201, 32, 187)
}
.hihat-pad.active {
    background: rgb(226, 155, 108)
}

.hihat-track,.snare-track,.kick-track{
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-between;
    margin-top: 5rem;

}

.sequencer{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.kick,.snare,.hihat{
    display: flex;
}

.controls {
    display : flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin: 0rem, 2rem;
}

.controls button{
    padding: 1rem;
    border: none;
    background: grey;
    color:white;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

.pad{
    transition: all 0.5s ease;
}

.Play{
    padding: 1rem 2rem;
    font-size: 1.5rem;
    background: grey;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 3rem;
    
}
.mute.active{
    background: rgb(190, 190, 190);
}

.tempo {
    margin: 3rem;
    width: 30%;
}
.tempo-slider {
    padding:0.2rem;
    -webkit-appearance: none;
    margin: 1rem 0rem;
    width: 100%;
    position: relative;
    background-color: rgb(88,88,88);
    cursor:pointer;
    border-radius: 1rem;
}
.tempo p {
    font-size: 1.5rem;
    margin: 2rem;
    text-align: center;
}

select{
    padding: 1rem;
    font-size: 1rem;
    margin-left: 1rem;
}

@keyframes playTrack {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}